@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
.price{
    color: lightskyblue;
    font-family: 'Lora', serif;
    font-size: 5em;
}
.price-btn:nth-child(even){
    color: rgb(82, 79, 79);
    background-color: darkblue;
}
.card-body:nth-child(odd) .price-btn{
    border: 1px solid darkblue;
}