.banner{
    background-image: url(./images/header-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 150px 60px;
}
.faq-header h2, .find-doctor{
    color: #4573ce;
}