.banner{
    background-image: url(./images/header-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 165px 30px;
}
.banner-btn{
    color: #fff;
    background-color: #f15b5a;
}